<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form class="myForm" action="/save" method="get">
      <input class="inp" type="text" autocomplete="off" autofocus name="query" placeholder="Paste URL"/>
      <input type="submit" value="save"/>
    </form>

  </body>
</html>
